<form action="/update/<%= bookmark.id %>" method="put">
  <input type="hidden" name="id" value="<%= bookmark.id %>">
  <%= bookmark.title %>
  <label for="url">
    url
    <input type="text" name="url" />
  </label>
  <input type="submit" value="Update" />
</form>
